@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-green-50: #eefff1;
    --color-green-100: #d6ffe0;
    --color-green-200: #b0ffc4;
    --color-green-300: #73ff96;
    --color-green-400: #2ff961;
    --color-green-500: #05f140;
    --color-green-600: #00bc2d;
    --color-green-700: #029327;
    --color-green-800: #087324;
    --color-green-900: #095e21;
    
    --color-green-950: #00350f;
    --color-woodsmoke-50: #f7f7f8;
    --color-woodsmoke-100: #f0eef0;
    --color-woodsmoke-200: #dcd9de;
    --color-woodsmoke-300: #bdb8c1;
    --color-woodsmoke-400: #99919f;
    --color-woodsmoke-500: #7d7384;
    --color-woodsmoke-600: #665d6c;
    --color-woodsmoke-700: #534c58;
    --color-woodsmoke-800: #48414b;
    --color-woodsmoke-900: #3e3941;
    --color-woodsmoke-950: #1a181b;
    
    --color-primary: var(--color-green-600);
    --color-secondary: #3C3C3C;

    --color-background-dark: var(--color-woodsmoke-950);
    --color-background: #F5FFF8;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-semibold;
}

h4 {
  @apply text-2xl font-medium;
}

h5 {
  @apply text-xl font-medium;
}

h6 {
  @apply text-lg font-normal;
}
